@import "tailwindcss";

@theme {
  --color-primary: #002629;
  --color-primary-cont: #083d41;
  --color-primaryCont: #083d41;
  --color-secondary: #4a6363;
  --color-surface-tint: #38656a;
  --color-surfaceTint: #38656a;
  --color-primary-fixed-dim: #a0cfd3;
  --color-primaryFixedDim: #a0cfd3;
  --color-surface: #f7f9ff;
  --color-surface-low: #f1f4fa;
  --color-surfaceLow: #f1f4fa;
  --color-surface-lowest: #ffffff;
  --color-surfaceLowest: #ffffff;
  --color-surface-high: #e5e8ee;
  --color-surfaceHigh: #e5e8ee;
  --color-surface-cont: #ebeef4;
  --color-surfaceCont: #ebeef4;
  --color-on-surface: #181c20;
  --color-onSurface: #181c20;
  --color-on-surface-var: #404849;
  --color-onSurfaceVar: #404849;
  --color-outline: #707979;
  --color-outline-var: #c0c8c9;
  --color-outlineVar: #c0c8c9;
}